body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
}

/* Aperçu Story Instagram */
canvas {
  border: 1px solid #666;
  width: 300px;     /* Aperçu */
  height: 533px;    /* Ratio 1080x1920 */
  background: white;
}
